.container {
display: flex;
gap: 100px;
}

.textContainer {
display: flex;
flex: 1;
flex-direction: column;
gap: 50px;
}

.subtitle{
    color: var(--btn);
}

.title{
    font-size: 40px;
}

.desc{
    font-size: 24px;
    font-weight: 300;
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box h1 {
    color: var(--btn);
}

.img {
    object-fit: contain;
}

.imgContainer {
    flex: 1;
    position: relative;
}